<footer>
    <div class="container-fluid">
        <p class="copyright">&copy; 2017 <a href="https://www.bandtech.com" target="_blank">BandTech Sollution</a>. All Rights Reserved.</p>
    </div>
</footer>
