<!DOCTYPE html>


<html lang="en">

<head>
    <title>MagicBox | Production Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/Content/assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/assets/img/favicon.png">
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
      @Html.Partial("_navmenu")
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
       @Html.Partial("_leftnavmenu")
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <style type="text/css">
            .form-control {
                margin: 10px;
            }
        </style>
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">

            @RenderBody()
            </div>
            <div class="clearfix"></div>
            @Html.Partial("_footer")
        </div>
    </div>
   

    <!-- Javascript -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/assets/scripts/klorofil-common.js"></script>
</body>
</html>