<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <li>
                    <a href="#Pages1" data-toggle="collapse" class="collapsed">
                        <i class="lnr lnr-user"></i> <span>
                            Clients
                        </span><i class="icon-submenu lnr lnr-chevron-left"></i>
                    </a>
                    <div id="Pages1" class="collapse ">
                        <ul class="nav">
                            <li><a href="~/Client/ClientList" class="">Client List</a></li>
                            <li><a href="~/Client/AddEditClient" class="">Add Client</a></li>
                            <li><a href="#" class="">Academic Details</a></li>
                            <li><a href="#" class="">Student Details</a></li>
                            <li><a href="#" class="">Employee Details</a></li>
                            <li><a href="#" class="">Course Details</a></li>
                            <li><a href="#" class="">Fees Allocation Details</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#Pages2" data-toggle="collapse" class="collapsed">
                        <i class="lnr lnr-cog"></i> <span>
                            Settings
                        </span><i class="icon-submenu lnr lnr-chevron-left"></i>
                    </a>
                    <div id="Pages2" class="collapse ">
                        <ul class="nav">
                            <li><a href="~/Settings/GeneralSettings" class="">General Settings</a></li>
                            <li><a href="#" class="">Attendance Record</a></li>
                            <li><a href="#" class="">Homework Manager</a></li>
                            <li><a href="#" class="">Online Test</a></li>
                            <li><a href="#" class="">Examination Scheduler</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#Pages3" data-toggle="collapse" class="collapsed">
                        <i class="fa fa-shopping-bag"></i> <span>
                            Job Tracker
                        </span><i class="icon-submenu lnr lnr-chevron-left"></i>
                    </a>
                    <div id="Pages3" class="collapse ">
                        <ul class="nav">
                            <li><a href="~/Job/JobDetails" class="">Production Details</a></li>
                            <li><a href="~/Job/AddEditJob" class="">Add Production</a></li>
                            <li><a href="#" class="">Homework Manager</a></li>
                            <li><a href="#" class="">Online Test</a></li>
                            <li><a href="#" class="">Examination Scheduler</a></li>
                            <li><a href="#" class="">Report Messaging</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#Pages4" data-toggle="collapse" class="collapsed"><i class="fa fa-line-chart"></i> <span>Report</span>
                    <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="Pages4" class="collapse ">
                        <ul class="nav">
                            <li><a href="~/Reports/DailyReport" class="">Daily Production Report</a></li>
                            <li><a href="~/Reports/MonthlyReport" class="">Monthly Production Report</a></li>
                            <li><a href="~/Reports/BillingDetails" class="">Billing</a></li>
                            <li><a href="~/Reports/PaymentTracker" class="">Payment Tracker</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>


                <li><a href="#" class=""><i class="lnr lnr-file-empty"></i> <span>Data Output</span></a></li>

                <li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
            </ul>
        </nav>
    </div>
</div>
